<!--Joy Taylor Aug 9th  Base for creating sites updated -->

<!DOCTYPE html>
<html id = "classPage">
<head>
<!--Samuel Anozie, July 29, 2017. This is the <%=class_data.class_name%> page. -->
<title><%=class_data.class_name%> - SchoolBoard</title>
<meta charset = "UTF-8"/>
<link rel = "stylesheet" type = "text/css" href = "styles.css"/>
<link rel = "icon" href = "favicon.jpg" type = "image/jpg"/>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>

html {
	height: 100%;
}
body {
	text-align: center;
	height: 100%;
	background-image: url('backpic.jpg');
	background-size: cover;
	overflow: auto;
	margin: auto;
}
</style>
</head>
<body>
<div class = "img" id = "<%=class_data.class_name%>">
	<a href = "index.html">
		<img src = "Picture1.png" id = "<%=class_data.class_name%>"/>
	</a>
</div>
<div class = "classname" id = "<%=class_data.class_name%>">
	<div class = "heading">
		<h1> <%=class_data.class_name%> </h1>
	</div>
	<div class = "statement">
		<p class = "statement">Questions</p>
	</div>
</div>
<div class = "outerContainer">
<div class = "innerContainter">
<div id = "ask" class = "ask"><a href = "/IN2QuestionPage?id=<%=class_data.id%>"><h3>ASK A QUESTION</h3></a></div>
	<script>
		function upvote(anElement){
			var question_id = anElement.getAttribute("data-question_id")
			
			$.ajax({
				url:"/vote",
				method:"Post",
				data: {question_id: question_id, vote_value: 1},
				success:function(data){
					$("[data-vote_question_id="+question_id+"]").html(data.votes)
				}
			});
		}
		function downvote(anElement){
			var question_id = anElement.getAttribute("data-question_id")
			$.ajax({
				url:"/vote",
				method:"Post",
				data: {question_id: question_id, vote_value: -1},
				success:function(data){
					$("[data-vote_question_id="+question_id+"]").html(data.votes)
				}
			});
		}
		function vote(div) {
			var num = parseInt(document.getElementById("num_" + div).innerHTML);
			document.getElementById("num_" + div).innerHTML = num + 1;
			console.log("num_" + div)
			num += 1;

			/*for (var i = (div-1); i > 0; i--) {
				var compare = parseInt(document.getElementById("num_" + i).innerHTML);
				if (num > compare) {
					var higher = document.getElementById("div_" + div);
					var lower = document.getElementById("div_" + i);
					document.getElementById("div_" + div).innerHTML = lower.innerHTML;
					document.getElementById("div_" + i).innerHTML = higher.innerHTML;
				}
			}*/
		}
        function disable(input) {
			var vote = document.getElementById(input);
            vote.disabled = true;
			vote.style.opacity = 0.2;
		}
        function visible(form, button) {
        var div = document.getElementById(form).style;
        var clicked = document.getElementById(button);
        if (button == 'answerButton') {
            div.display = 'block';
        }
        else {
            div.display = 'none';
        }
    }
        function removeElement(elementId) {
    // Removes an element from the document
    var element = document.getElementById(elementId);
    element.parentNode.removeChild(element);
}

	</script>
	<!--in the event that a question has to be deleted from the database, all of the question Id's will be thrown off. Proceed with caution-->
	<div class = 'time'><h3>This Week</h3><div class = 'strip'></div></div>
	<%var isTeacher = user_data.status == "teacher";
		if(isTeacher == true && question_info.length == 0){%>
			<p class = 'null'>No questions asked yet</p>
		<%}
	%>
	<% 
	var num = 1;
	question_info.forEach(function(question){%>
	<span id = 'div_<%=num%>'><div id = 'question'>
	<%
	if(isTeacher){%>
	<button class = 'answerButton' id = 'answerButton' onclick = visible('answerForm_<%=num%>','answerButton')>ANSWER</button>
	<%}%>
	<div id = 'text'>
                            <h6> <%=question.question%></h6>
                        </div>
                        <div class = 'vote'>
                            <div class = 'votecontainer'>
                            
                                <span class = 'num' id = 'num_<%=num%>' data-vote_question_id='<%=question.id%>'> <%=question.votes%> </span>
                                <input type = 'hidden' name = 'question' value="<%=question.id%>"><br>
								<input type = 'hidden' name = 'class' value = '<%=class_data.class_name%>'><br>
                                <input class = 'vote' id = 'vote_<%=num%>' data-question_id='<%=question.id%>' type = 'image' name = 'submit' onclick='upvote(this)' value = 'UP' >
								<input class = 'vote' id = 'vote_<%=num%>' data-question_id='<%=question.id%>' type = 'image' name = 'submit' onclick='downvote(this)' value = 'DOWN' >
                            
                            </div>
                        </div>
                    </div>
					<%if(isTeacher){%>
					<form class = 'answerForm' id = 'answerForm_<%=num%>' action='/addAnswer' method = 'POST'>
                        <input type = 'hidden' name='question' value='<%=question.question%>'>
                        <input type='hidden' name='subject' value='<%=class_data.class_name%>'>
						<input type='hidden' name='class_id' value='<%=class_data.id%>'>
						<input type='hidden' name='question_id' value='<%=question.id%>'>
                        <textarea name='teacher_response' placeholder = 'Type your answer here'></textarea><br>
                        <input type = 'submit' name = 'submit' value = 'SUBMIT' id='submit'><br>
                        <button id = 'closeButton' onclick = visible('answerForm_<%=num%>', 'closeButton')>CLOSE FORM</button>
                    </form>
					<%}%>
					</span>
					<%question.responses.forEach(function(response){%>
						<div id = 'answer'><div id = 'text'><h6><%=response.teacher_response%></h6></div></div><br>
					<%})%>
	<%
	num++;
	})%>
	
		<h4><a class = "backLink" href = "/SchoolBoardAccountPage">GO BACK TO ACCOUNT</a></h4>
		<%if(isTeacher){%>
		<script>removeElement('ask')</script>
		<%}%>
   </div>
</div>
</body>
</html>
